SUBSYSTEM=="net", KERNEL=="wlan0", ACTION=="add", RUN+="/bin/sh -c '/mnt/onboard/.adds/librito/agent watch </dev/null >>/mnt/onboard/.adds/librito/autosync.log 2>&1 &'"
